/* FormContainer.css */


  
.container {

    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
  }
  
  .table-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center; /* Horizontally center */

  }
  
  .table-container h2 {
    margin-bottom: 10px;
  }
  